<!DOCTYPE html>
<html dir="ltr" lang="en">
{% extends "blog/header.html" %}
{% load static %}

{% block content %}

<body>

    <div class="page-wrapper">
        <div class="container-fluid">

            <!----- Search Twitter------>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Search Keywords</h4>
                            <form action='twitter_details' name="frm" id="frm" method='GET'>
                                <div class="preloader">
                                    <div class="lds-ripple">
                                        <div class="lds-pos"></div>
                                        <div class="lds-pos"></div>
                                    </div>
                                </div>

                                <div class="form-group" style="width: 100%;display: flex;">
                                    <input type="text" class="form-control" name="search" id="search"
                                        style="height: 60px;font-size: 26px;"
                                        placeholder="Enter Keyword Hashing or Websites" value={{ search }}>
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                                <input type="radio" style="width:15px;height:15px;" value="database" name="database"
                                id="database" onchange="value2Changed()">&nbsp;<span
                                style="font-size:20px;" checked>Database </span>
                                <input type="radio" style="width:15px;height:15px;" value="realtime" name="realtime"
                                    id="realtime" onchange="value1Changed()">&nbsp;<span style="font-size:20px;">Real
                                    Time </span>
                               
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!----- Search Twitter------>


            <!-------Tweets Meter------>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                    <h5>Tweetes</h5>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                    <h5>Retweets</h5>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                    <h5>Location</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                    <h5>{{totalTweets}}</h5>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                    <h5>{{retweets}}</h5>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                                    <h5>{{tweets_location}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                                    <!-- <h5>Tweetes</h5> -->
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                                    <h5>Impressions</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                                    <!-- <h5>Location</h5> -->
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                                    <h5>{{totalTweets}}</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                                    <h5>{{total_followers}}</h5>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3">
                                    <h5>{{tweets_location}}</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-------Tweets Meter------>

            <!--------Tweets Analysis-->
            <div class="row">
                <div class="col-sm-6 col-sm-6 col-lg-6 col-xs-12 mb-3">
                    <div class="card">
                        <div class="card-header">Tweets By Sentiments</div>
                        <div class="card-body">
                            <div id="Sentiments"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-6 col-lg-6 col-xs-12 mb-3">
                    <div class="card">
                        <div class="card-header">Tweets By Type</div>
                        <div class="card-body">
                            <div id="ByType"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                    <div class="col-sm-6 col-sm-6 col-lg-6 col-xs-12 mb-3">
                        <div class="card">
                            <div class="card-header">Tweets By Source</div>
                            <div class="card-body">
                                <div id="BySource"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-sm-6 col-lg-6 col-xs-12 mb-3">
                        <div class="card">
                            <div class="card-header">Tweets By Language</div>
                            <div class="card-body">
                                <div id="ByLanguage"></div>
                            </div>
                        </div>
                    </div>
                </div> -->

            <div class="row">
                <div class="col-sm-12 mb-3">
                    <div class="card">
                        <div class="card-header">Tweets Over Time</div>
                        <div class="card-body">
                            <div id="ByTime"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--------Tweets Analysis-->

            <!------ All Tweets------->

            <div class="row">
                <h5>Twitter Feed</h5>
            </div>

            <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 ml-5">
                    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 350, "gutter":20 }'>

                        {% for post in posts  %}
                        <div class="grid-item">

                            <blockquote class="twitter-tweet">
                                <a href={{ post.urll }}></a>
                            </blockquote>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>

$(function () {
            $("#database").prop("checked", true);
            $("#frm").submit(function () {
                if($("#search").val()==0){
                   alert("Enter key words") 
                   return false;

                }
        });
    });
    </script>
    <script>
      
        function value1Changed() {

            document.getElementById("database").checked = false;
        }
    </script>
    <script>
        function value2Changed() {
            document.getElementById("realtime").checked = false;

        }
    </script>

    <script>
          let search = window.location.search.slice(1).split("&")[0].split("=")[1];
            $('#search').val(search);
        $(".preloader").fadeIn();
        // Twitter widget is loading.
        window.twttr = function (d, s, id) {
            var t, js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
            return window.twttr || (t = {
                _e: [],
                ready: function (f) {
                    t._e.push(f)
                }
            });
        }(document, 'script', 'twitter-wjs');

        // When widget is ready, run masonry
        twttr.ready(function (twttr) {
            twttr.events.bind('loaded', function (event) {
                $('.grid').masonry({
                    itemSelector: '.grid-item',
                    columnWidth: 400,
                    gutter: 20
                });
            });
        });
    </script>

    <script type="text/javascript">
        var greate = JSON.parse("{{great}}");
        var good = JSON.parse("{{good}}");
        var nuetral = JSON.parse("{{nutral}}");
        var bad = JSON.parse("{{bad}}");
        var terrible = JSON.parse("{{terr}}");
        // Build the chart
        Highcharts.chart('Sentiments', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Sentiments'
            },
            tooltip: {
                pointFormat: '{name} <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                layout: 'vertical',
                x: 0,
                y: 100
            },
            series: [{
                name: '',
                data: [{
                    name: 'Great',
                    y: greate,
                    sliced: false,
                    selected: true,
                }, {
                    name: 'Good',
                    y: good
                }, {
                    name: 'Neutral',
                    y: nuetral
                }, {
                    name: 'Bad',
                    y: bad
                }, {
                    name: 'Terrible',
                    y: terrible
                }]
            }]
        });
        var retweets = JSON.parse("{{retweets}}");
        var totalTweets = JSON.parse("{{totalTweets}}");

        // Build the chart
        Highcharts.chart('ByType', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '{name} <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            legend: {
                align: 'right',
                verticalAlign: 'top',
                layout: 'vertical',
                x: 0,
                y: 100
            },
            series: [{
                name: '',
                colorByPoint: true,
                data: [{
                    name: 'Tweets',
                    y: totalTweets,
                    sliced: false,
                    selected: true
                }, {
                    name: 'Retweets',
                    y: retweets
                }
                ]
            }]
        });
        // Build the chart
        // Highcharts.chart('BySource', {
        //     chart: {
        //         plotBackgroundColor: null,
        //         plotBorderWidth: null,
        //         plotShadow: false,
        //         type: 'pie'
        //     },
        //     title: {
        //         text: ''
        //     },
        //     tooltip: {
        //         pointFormat: '{name} <b>{point.percentage:.1f}%</b>'
        //     },
        //     accessibility: {
        //         point: {
        //             valueSuffix: '%'
        //         }
        //     },
        //     credits: {
        //         enabled: false
        //     },
        //     plotOptions: {
        //         pie: {
        //             allowPointSelect: true,
        //             cursor: 'pointer',
        //             dataLabels: {
        //                 enabled: false
        //             },
        //             showInLegend: true
        //         }
        //     },
        //     legend: {
        //         align: 'right',
        //         verticalAlign: 'top',
        //         layout: 'vertical',
        //         x: 0,
        //         y: 100
        //     },
        //     series: [{
        //         name: ' ',
        //         colorByPoint: true,
        //         data: [{
        //             name: 'iPhone',
        //             y: 61.41,
        //             sliced: false,
        //             selected: true
        //         }, {
        //             name: 'Android',
        //             y: 11.84
        //         }, {
        //             name: 'Twitter Web App',
        //             y: 10.85
        //         }, {
        //             name: 'iPad',
        //             y: 4.67
        //         }, {
        //             name: 'TweetDeck',
        //             y: 4.18
        //         }, {
        //             name: 'addempsea',
        //             y: 7.05
        //         }]
        //     }]
        // });
        // Build the chart
        // Highcharts.chart('ByLanguage', {
        //     chart: {
        //         plotBackgroundColor: null,
        //         plotBorderWidth: null,
        //         plotShadow: false,
        //         type: 'pie'
        //     },
        //     title: {
        //         text: ''
        //     },
        //     tooltip: {
        //         pointFormat: '{name} <b>{point.percentage:.1f}%</b>'
        //     },
        //     accessibility: {
        //         point: {
        //             valueSuffix: '%'
        //         }
        //     },
        //     credits: {
        //         enabled: false
        //     },
        //     plotOptions: {
        //         pie: {
        //             allowPointSelect: true,
        //             cursor: 'pointer',
        //             dataLabels: {
        //                 enabled: false
        //             },
        //             showInLegend: true
        //         }
        //     },
        //     legend: {
        //         align: 'right',
        //         verticalAlign: 'top',
        //         layout: 'vertical',
        //         x: 0,
        //         y: 100
        //     },
        //     series: [{
        //         name: '',
        //         colorByPoint: true,
        //         data: [{
        //             name: 'English',
        //             y: 11.84,
        //             sliced: false,
        //             selected: true
        //         }, {
        //             name: 'Urdu',
        //             y: 10.85
        //         }, {
        //             name: 'Arabic',
        //             y: 4.67
        //         }, {
        //             name: 'Italian',
        //             y: 4.18
        //         }, {
        //             name: 'French',
        //             y: 7.05
        //         }, {
        //             name: 'Spanish',
        //             y: 7.05
        //         }, {
        //             name: 'Portuguese',
        //             y: 7.05
        //         }, {
        //             name: 'Korean',
        //             y: 7.05
        //         }, {
        //             name: 'Japan',
        //             y: 7.05
        //         }, {
        //             name: 'Chines',
        //             y: 7.05
        //         }]
        //     }]
        // });

        // var coutdate =JSON.parse('{{coutdate.couttweets}}');

        var mydict = JSON.parse('{{ coutdate|safe }}')
        let tweetsArray = [];
        let bydate = [];

        let bydateArr = [];
        for (const tweets of mydict) {
            var d = new Date(tweets.bydate);
            var year = d.getFullYear();
            var month = d.getMonth();
            var day = d.getDay();
            var formater = day + '/' + month + '/' + year;
            tweetsArray.push([formater, tweets.couttweets]);
            bydateArr.push(formater)
        }
        console.log(bydateArr);

        Highcharts.chart('ByTime', {

            title: {
                text: ''
            },

            time: {
                timezone: 'Pakistan/Karachi'
            },
            xAxis: {
                type: 'datetime',
                categories: bydateArr
            },
            credits: {
                enabled: false
            },

            series: [{
                name: 'Tweets',
                data: tweetsArray,
                // pointStart: bydate,
            }],


            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }

        });
    </script>

    {% endblock content %}
</body>

</html>