<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{% extends "blog/base.html" %}
{% block content %}



<div class="row" style="margin:30px;">


  <div class="col-sm-12 col-md-6 col-lg-6">



    <div class="form-group">
      <form action='actionUrl' method='GET'>

        <div class="row" style="margin-top: 10px;">

          <div class="col-sm-12 col-md-4 col-lg-3" style="text-align: start;">
            <label style="margin-top: 2px;" for="date">Select Region</label>
          </div>
          <div class="col-sm-12 col-md-9 col-lg-9">
            <div class="dropdown ">

              <select class="form-control" style="height: 30px;" id="contry" name="contry">
                <option>World</option>
                {% for cunt in country  %}
                <option>{{ cunt }}</option>


                {% endfor %}


              </select>
            </div>
          </div>


        </div>

        <!--
        <div class="row" style="margin-top: 10px;">
          <div class="col-sm-12 col-md-4 col-lg-3" style="text-align: start;">
            <label style="margin-top: 2px;" for="date">Select Language</label>
          </div>
          <div class="col-sm-12 col-md-9 col-lg-9">
            <div class="dropdown ">

              <select class="form-control" style="height: 30px;" id="lang" name="lang">
                <option>English</option>
                <option>Urdu</option>


              </select>
            </div>
          </div>


        </div> -->


        <div class="row" style="margin-top: 20px;">

          <div class="col-sm-12 col-md-4 col-lg-3" style="text-align: start;">
            <label style="margin-top: 2px;" for="date">Select From Date</label>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <input type="date" class="form-control" id="date1" name="date1" value={{ date1 }}>

          </div>
          <div class="col-sm-12 col-md-1 col-lg-1" style="padding: 0%;"> <label style="margin-top: 2px;" for="date">To
              Date</label> </div>
          <div class="col-sm-12 col-md-4 col-lg-4">


            <input type="date" class="form-control" id="date2" name="date2" value={{ date2 }}>
          </div>


        </div>

        <div class="row" style="margin-top: 10px;">

          <div class="col-sm-12 col-md-4 col-lg-3" style="text-align: end;">

          </div>
          <div class="col-sm-12 col-md-8 col-lg-9">
            <button for="date" class="btn btn-primary " type='submit' style="margin-top: 15px; float: left;"> Get News
            </button>

          </div>
        </div>


    </div>



    </form>
  </div>
</div>



<div class="text-center" style="background: #f2f2f2; ">


  {% for post in posts  %}

  <div class="row" style="margin: 5px; background: #FFFFFF;">
    <div class="col-sm-11 col-md-5 col-lg-3" style="margin: 10px;">

      <div class=" thumbnail">
        <a href={{ post.href }} target="_blank">
          <img src={{ post.img }}></a>
      </div>
    </div>
   

    <div class="col-sm-11 col-md-6 col-lg-8" style="text-align: left; margin: 20px; margin-left: -5px;">
      <span> <strong>{{ post.country }} </strong> </span>
      <span>- {{ post.News }} </span>
      <span style="float: right;">{{ post.date }} </span>
      <a href={{ post.href }} target="_blank">
        <h3 class="article-content" style=" text-align: left">{{ post.header }}</h3>
      </a>
      <p class="article-content">{{ post.prgh }} </p>



      <span> <strong> Searched KeyWords </strong> {{ post.keyWord }} </span>

      <span style="float: right; "> <strong>Sentiment Analysis- </strong> {{ post.sentiment }} </span>


    </div>
  </div>

  {% endfor %}


</div>






{% endblock content %}