<!DOCTYPE html>
<html dir="ltr" lang="en">


{% extends "blog/header.html" %}
{% load static %}

{% block content %}

<body>
    <div class="page-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12 mb-3 align-items-center">
                    <h5>Enter a To Date And From Date To Search Tweets By Date:</h5>
                </div>
            </div>

            <!----- Search Twitter------>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form id="formsubmit">
                                <div class="row">
                                    <div class="col-md-5">
                                        <h4 class="card-title">To Date</h4>
                                        <div class="form-group">
                                            <input type="date" id="todate" required class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <h4 class="card-title">From Date Date</h4>
                                        <div class="form-group">
                                            <input type="date" id="fromdate" required class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-2" style="margin-top:30px;">
                                        <!-- <input type="submit" class="btn btn-primary" value="Search"> -->

                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!----- Search Twitter------>
            <!-------Tweets Meter------>

            <div class="card">
                <div class="card-body">

                    <div class="row mt-5">
                        <div class="col-md-12">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4 class="card-title">Total Tweets Beetween on Date</h4>
                                        <ul class="list-group">
                                            <li class="list-group-item active">Tweet Found On Date:<span
                                                    class="badge badge-danger ml-2" id="Rtodate">{{todate}}</span>
                                                <span class="badge badge-danger ml-1" id="Rfromdate">{{fromdate}}</span>
                                                <span class="badge badge-danger float-right"
                                                    id="Rdatecount">{{datecount}}</span></li>
                                        </ul>
                                        <ul class="list-group" id="tweetsList">

                                            <li class="list-group-item">Tweet Found On Date:<span
                                                    class="badge badge-info ml-2">{{datewise.bydate}}</span>
                                                <span
                                                    class="badge badge-info float-right">{{datewise.couttweets}}</span>

                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-md-12">
                                        <h4 class="card-title">Total Tweets On Keyword</h4>
                                        <ul class="list-group">
                                            <li class="list-group-item active">Total Tweets on keywords<span
                                                    class="badge badge-danger float-right" id="counter"></span>
                                            </li>
                                        </ul>
                                        <ul class="list-group" id="listShow">

                                            <li class="list-group-item ">{{post.title}}<span
                                                    class="badge badge-danger float-right">{{post.count}}</span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                                <!-------Tweets Meter------>

                                <!-- <div class="row mt-5">

        </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $("#formsubmit").submit(function () {
                    $(".preloader").fadeIn();

                    var todate = $("#todate").val();
                    var fromdate = $("#fromdate").val();
                    $.ajax({
                        url: "{% url 'reports' %}",
                        type: 'POST',
                        data: {
                            todate: todate,
                            fromdate: fromdate,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (json) {
                            console.log(json.posts)
                            $("#counter").text(json.counter);
                            $("#Rdatecount").text(json.datecount);
                            $("#Rtodate").text(json.todate);
                            $("#Rfromdate").text(json.fromdate);
                            $("#listShow").empty();
                            $("#tweetsList").empty();
                            for (i = 0; i < json.posts.length; i++) { $("#listShow").append('<li class="list-group-item ">' + json.posts[i].title + '<span class="badge badge-danger float-right">' + json.posts[i].count + '</span>' + '</li>') }

                            //tweets list by date
                            for (i = 0; i < json.coutdate.length; i++) {
                                $("#tweetsList").append('<li class="list-group-item">Tweet Found On Date:<span class="badge badge-info ml-2">' + json.coutdate[i].bydate + '</span>' +
                                    '<span class="badge badge-info float-right">' + json.coutdate[i].couttweets + '</span>' + '</li>')
                            }
                        $(".preloader").fadeOut();


                        },

                        error: function (xhr, errmsg, err) { }
                    })
                    return false;
                })

            </script>
            {% endblock content %}

</body>

</html>