<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{% extends "blog/base.html" %}
{% block content %}



<div class="row" style="margin:30px;">

  <div class="col-sm-12 col-md-7 col-lg-7" style="text-align: center;"></div>


  <div class="col-sm-12 col-md-5 col-lg-5">



    <div class="form-group">
      <form action='actionUrl' method='GET'>

   <div class="row" style="margin-top: 10px;">

        <div class="col-sm-12 col-md-4 col-lg-4" style="text-align: end;">
          <label style="margin-top: 2px;" for="date">Select Region</label>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8">
          <div class="dropdown ">
           
            <select class="form-control" style="height: 30px;" id="contry" name="contry">  
              <option>World</option>
              <option>pakistan</option>
              <option>thailand</option>
              <option>malaysia</option>
              <option>israel</option>
              <option>japan</option>
              <option>new zealand</option>
              <option>australia</option>
              <option>croatia</option>
              <option>belgium</option>
              <option>ukaine</option>
              <option>south africa</option>
              <option>india</option>
              <option>brazil</option>
              <option>iran</option>
              <option>Greece</option>
              <option>china</option>
              <option>united states</option>
              <option>argentina</option>
              <option>mexico</option>
           
            </select>
          </div>
        </div>

      
    </div>

    <div class="row" style="margin-top: 10px;">
    <div class="col-sm-12 col-md-4 col-lg-4" style="text-align: end;">
      <label style="margin-top: 2px;" for="date">Select Language</label>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <div class="dropdown ">
       
        <select class="form-control" style="height: 30px;" id="lang" name="lang">  
          <option>English</option>
          <option>Urdu</option>
         
       
        </select>
      </div>
    </div>

  
</div>


    <div class="row"  style="margin-top: 20px;">

    <div class="col-sm-12 col-md-4 col-lg-4" style="text-align: end;">
      <label style="margin-top: 2px;" for="date">Select Date</label>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <input type="date" class="form-control" id="date" name="date" value={{ today }}>
    </div>
  </div>

  <div class="row"  style="margin-top: 10px;">

    <div class="col-sm-12 col-md-4 col-lg-4" style="text-align: end;">

    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <button for="date" class="btn btn-primary " type='submit' style="margin-top: 15px;"> Get News
      </button>
     
    </div>
  </div>
   

  </div>



  </form>
</div>
</div>

</div>



<div class="text-center" style="background: #F6F6F6; " />
{% for post in posts  %}



<div class="row" style="margin: 10px; background: #FFFFFF;">
  <div class="col-sm-11 col-md-5 col-lg-2">

    <div class="thumbnail">
      <a href={{ post.href }} target="_blank">
        <img src={{ post.img }}>

      </a>
    </div>
  </div>

  <div class="col-sm-1 col-md-1 col-lg-1">
  </div>

  <div class="col-sm-11 col-md-6 col-lg-9">
    <a href={{ post.href }} target="_blank">
      <h3 class="article-content" style=" text-align: center">{{ post.header }}</h3>
    </a>
    <p class="article-content">{{ post.prgh }}</p>
    <p class="article-content"><strong>{{ post.News }}: </strong>{{ post.date }}</p>
    <p> {{ post.words }}</p>
    <p class="article-content">Sentiment Analysis:   <strong> {{ post.sentiment }} </strong></p>
  </div>
</div>
{% endfor %}










<form action='dtranslation' method='GET' style="margin-top: 10px;">


  <button class="article-title" type='submit'> Click Me For Download transcription </button>


</form>
<form action='ddictionary' method='GET' style="margin-top: 10px;">


  <button class="article-title" type='submit'> Click Me For Download Word Dictionary </button>
</form>

</div>

{% endblock content %}