<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{% extends "blog/base.html" %}
{% block content %}

<div class="text-center" style="background: #F6F6F6; "/>
  {% for post in posts  %}


 
    <div class="row" style="margin: 10px; background: #FFFFFF;"  >
         <!--  <div class="col-sm-11 col-md-5 col-lg-2">

          <a href={{ post.href }} target="_blank"> 
           <img src={{ post.img }} >

      </a>
      </div>     !-->

      <div class="col-sm-1 col-md-2 col-lg-2">
        <a href="#" class="fa fa-twitter" style="  padding: 35px;
        font-size: 35px;
       
      
        "></a>
      </div>

      <div class="col-sm-11 col-md- col-lg-10">
      
     <a href={{ post.urll }} target="_blank"> <strong> <p class="article-content" style=" text-align: center; padding: 5px;">{{ post.text }}</p> </strong>  </a> 
        <p class="article-content"><strong>UserName: </strong> {{ post.username }} <strong>  Location: </strong>{{ post.location }}</p>

        <p class="article-content"><strong>Dated </strong>{{ post.dated }} <strong> Retweeted </strong>{{ post.retweetcount }}</p>
     
        <p class="article-content"><strong> Sentiment Analysis </strong>{{ post.sentiment }}</p>
       
      </div>
    </div>



  {% endfor %}








</div>

{% endblock content %}