<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{% extends "blog/base.html" %}
{% block content %}





<div class="row" style="margin: 10px; background: #FFFFFF;">


  <div class="col-sm-1 col-md-1 col-lg-1">
  </div>

  <div class="col-sm-11 col-md-6 col-lg-9">
  
    <p class="article-content">select Date</p>
   
    <input type="date" id="start" name="trip-start"
   
    min="2020-01-01">
    <form action='actionUrl' method='GET'>

      <button class="article-title" type='submit'> Get News </button>
    
    </form>
  </div>
  </div>
</div>




<div class="text-center" style="background: #F6F6F6; " />
{% for post in posts  %}



<div class="row" style="margin: 10px; background: #FFFFFF;">
  <div class="col-sm-11 col-md-5 col-lg-2">

    <div class="thumbnail">
    <a href={{ post.href }} target="_blank">
      <img src={{ post.img }}>

    </a>
  </div>
  </div>

  <div class="col-sm-1 col-md-1 col-lg-1">
  </div>

  <div class="col-sm-11 col-md-6 col-lg-9">
    <a href={{ post.href }} target="_blank">
      <h3 class="article-content" style=" text-align: center">{{ post.header }}</h3>
    </a>
    <p class="article-content">{{ post.prgh }}</p>
    <p class="article-content"><strong>{{ post.News }}: </strong>{{ post.date }}</p>
    <p> {{ post.words }}</p>
  </div>
</div>



{% endfor %}










<form action='dtranslation' method='GET' style="margin-top: 10px;">


  <button class="article-title" type='submit'> Click Me For Download transcription </button>


</form>
<form action='ddictionary' method='GET' style="margin-top: 10px;">


  <button class="article-title" type='submit'> Click Me For Download Word Dictionary </button>
</form>

</div>

{% endblock content %}