<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{% extends "blog/base.html" %}
{% block content %}

<div class="text-center" style="background: #F6F6F6; "/>
  {% for post in posts  %}


 
    <div class="row" style="margin: 10px; background: #FFFFFF;"  >
         <!--  <div class="col-sm-11 col-md-5 col-lg-2">

          <a href={{ post.href }} target="_blank"> 
           <img src={{ post.img }} >

      </a>
      </div>     !-->

      <div class="col-sm-1 col-md-1 col-lg-1">
      </div>

      <div class="col-sm-11 col-md- col-lg-10">
        <a href={{ post.href }} target="_blank">
        <h3 class="article-content" style=" text-align: center">{{ post.text }}</h3> </a>
        <p class="article-content">{{ post.username }}</p>
        <p class="article-content"><strong>{{ post.location }}: </strong>{{ post.dated }}</p>
        <p> {{ post.userid }}</p>
      </div>
    </div>



  {% endfor %}








</div>

{% endblock content %}